.Addrecplist-labels-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.Addrecplist-labels-container div {
  display: flex;
  flex-direction: column;

  width: 400px;
  gap: 1rem;
}
.Addrecplist-labels-container div span {
  border: 1px solid grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 12px;
}
.Addrecplist-labels-container div input {
  outline-style: none;
  border: none;
  height: 40px;
  padding: 2px;
}
.Addrecplist-labels-container div select {
  outline-style: none;
  border: none;
  height: 40px;
  padding: 2px;
  border: 1px solid grey;
}
.Addrecplist-labels-container div label {
  font-style: bold;
  font-weight: 500;
  margin-top: 5px;
}
.Addrecplist-form-controller {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 500px;
  padding: 10px;
  cursor: text;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 6px;
}
.Addrecplist-mainform-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
}
